<div class="flex flex-row">
  <aside class="hidden md:block border-r bg-white shrink-0 sticky top-0 min-h-screen h-full w-24">
    <nav class="h-screen flex flex-col">
      <div class="mx-auto flex px-5 justify-center py-7 w-full hover:bg-blue-50">
        <%= image_tag "fav.png", class: "w-12 rounded-xl" %>
      </div>
      <div class="navigational-items h-full justify-center flex flex-col">
        <%= render "components/aside_bar_links" %>
      </div>
      <%= render "components/aside_bar_logger" %>
    </nav>
  </aside>

  <div class="w-full">
    <%= yield %>
    <aside class="sticky bottom-0 md:bottom-7 w-full shrink-0">
      <% if yield(:down_bar_up_kit).presence %>
        <div class="place-items-center grid mb-7 ">
          <%= yield (:down_bar_up_kit) %>
        </div>
      <% end %>

      <nav class="md:hidden navigational-items">
        <%= render "components/aside_bar_links" %>
        <% if user_signed_in? %>
          <div class="relative">
            <%= button_tag class: "mx-auto cursor-pointer flex justify-center h-full w-full aside-menu-element", data: {
              controller: 'togglebar',
              action: 'togglebar#toggleNavDrop',
              togglebar_body_param: "bottom-nav-bar-body"
            } do %>
              <%= image_tag current_user.profile.my_avatar, class: "w-7 h-7 sm:w-10 sm:h-10 self-center
              rounded-full object-cover" %>
            <% end %>
            <div id="bottom-nav-bar-body" class="hidden duration-200 absolute right-0 bottom-20 sm:bottom-24 right-3 z-20 w-56 py-2 mt-2 overflow-hidden bg-white rounded-md shadow-xl dark:bg-gray-800">
              <%= render "components/aside_bar_logger_links" %>
            </div>
          </div>
        <% else %>
          <%= link_to new_user_session_path, class: "aside-menu-element" do %>
            <%= icon "fa-solid", "sign-in", class: "self-center" %>
          <% end %>
        <% end %>
      </nav>
    </aside>
  </div>

  <% if yield(:right_aside_bar).presence %>
    <div class="hidden fixed lg:block border-l overflow-y-scroll no-scrollbar bg-neutral-50 shrink-0 lg:sticky top-0 min-h-screen h-full lg:w-80 w-full" id="right_aside_bar">
      <%= button_to '',
        class: "lg:hidden hover:bg-yellow-50 bg-slate-50 rounded-full h-7 w-7 grid place-items-center float-right mr-7 mt-7", data: { controller: "togglebar",
        togglebar_body_param:"right_aside_bar",
        action: "togglebar#toggleNavDrop"} do %>
        <%= icon 'fa-solid', 'times', class: "" %>
      <% end %>
      <%= yield (:right_aside_bar) %>
    </div>
  <% end %>
</div>

<% if yield(:below_block).presence %>
  <%= yield (:below_block) %>
<% end %>
