<div class="space-x-4 flex flex-row">
  <aside class="hidden sm:block border-r bg-white shrink-0 sticky top-0 min-h-screen h-full w-24">
    <nav class="h-screen flex flex-col">
      <div class="mx-auto flex px-5 justify-center py-7 w-full hover:bg-blue-50">
        <%= image_tag "fav.png", class: "w-12" %>
      </div>
      <div class="navigational-items h-full justify-center flex flex-col">
        <%= render "components/aside_bar_links" %>
      </div>
      <% if user_signed_in? %>
        <%= link_to edit_user_registration_path(current_user), class:"mx-auto flex px-5 justify-center py-7 w-full hover:bg-blue-50 bg-slate-100" do %>
          <%= image_tag current_user.profile.avatar, class: "w-12
              rounded-full object-cover" %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "aside-menu-element #{is_active "bookmark"}" do %>
          <%= icon "fa-regular", "login", class: "self-center" %>
        <% end %>
      <% end %>
    </nav>
  </aside>

  <div class="w-full">
    <%= yield %>
  </div>

  <% if yield(:right_aside_bar).presence %>
    <div class="hidden lg:block border-r bg-green-50 shrink-0 sticky top-0 min-h-screen h-full w-80">
      <%= yield (:right_aside_bar) %>
    </div>
  <% end %>
</div>

<aside class="sticky bottom-0 sm:bottom-7 w-full shrink-0">
  <% if yield(:down_bar_up_kit).presence %>
    <div class="place-items-center grid mb-7 ">
      <%= yield (:down_bar_up_kit) %>
    </div>
  <% end %>

  <nav class="navigational-items sm:hidden border-t bg-white h-full justify-between grid grid-cols-5 divide-x">

    <%= render "components/aside_bar_links" %>
    <%= link_to edit_user_registration_path(current_user), class:"mx-auto flex px-5 justify-center py-7 w-full hover:bg-blue-50 bg-slate-100" do %>
      <%= image_tag "https://miro.medium.com/max/1000/1*pd9XqkTCXjNzmV3FTS85tw.jpeg", class: "w-12
            rounded-full object-cover" %>
    <% end %>

  </nav>
</aside>

<% if yield(:below_block).presence %>
    <%= yield (:below_block) %>
<% end %>
