<div class="space-x-4 flex flex-row">
  <aside class="hidden sm:block border-r bg-white shrink-0 sticky top-0 min-h-screen h-full w-24">
    <nav class="h-screen flex flex-col">
      <div class="mx-auto flex px-5 justify-center py-7 w-full hover:bg-blue-50">
        <%= image_tag "fav.png", class: "w-12" %>
      </div>
      <div class="navigational-items h-full justify-center flex flex-col">
        <%= link_to root_path, class: "aside-menu-element #{is_active "global"}" do %>
          <%= icon "fa-solid", "house-user", class: "self-center" %>
        <% end %>
        <a href="/" class="aside-menu-element">
          <%= icon "fa-regular", "bell", class: "self-center" %>
        </a>
        <a href="/"
           class="aside-menu-element">
          <%= icon "fa-regular", "bookmark", class: "self-center" %>
        </a>
        <hr class="block w-7 self-center"/>
        <%= link_to new_post_path, class: "aside-menu-element #{is_active "posts"}" do %>
          <%= icon "fa-regular", "edit", class: "self-center" %>
        <% end %>
      </div>

      <div class="mx-auto flex px-5 justify-center py-7 w-full hover:bg-blue-50 bg-slate-100">
        <%= image_tag "https://miro.medium.com/max/1000/1*pd9XqkTCXjNzmV3FTS85tw.jpeg", class: "w-12
            rounded-full object-cover" %>
      </div>

    </nav>
  </aside>

  <div class="w-full">
    <%= yield %>
  </div>

  <% if yield(:right_aside_bar).presence %>
    <div class="hidden sm:block border-r bg-green-50 shrink-0 sticky top-0 min-h-screen h-full w-80">
      <%= yield (:right_aside_bar) %>
    </div>
  <% end %>
</div>

<aside class="sticky bottom-0 sm:bottom-7 w-full shrink-0">
  <% if yield(:down_bar_up_kit).presence %>
    <div class="place-items-center grid mb-7">
      <%= yield (:down_bar_up_kit) %>
    </div>
  <% end %>

  <nav class="navigational-items sm:hidden border-t bg-white h-20 justify-between flex flex-row divide-x">
    <%= link_to root_path, class: "aside-menu-element #{is_active "global"} w-full" do %>
      <%= icon "fa-solid", "house-user", class: "self-center" %>
    <% end %>
    <a href="/" class="aside-menu-element w-full">
      <%= icon "fa-regular", "bell", class: "self-center" %>
    </a>
    <a href="/"
       class="aside-menu-element w-full">
      <%= icon "fa-regular", "bookmark", class: "self-center" %>
    </a>
    <%= link_to new_post_path, class: "aside-menu-element #{is_active "posts"} w-full" do %>
      <%= icon "fa-regular", "edit", class: "self-center" %>
    <% end %>
    <div class="aside-menu-element flex w-full">
      <%= image_tag "https://miro.medium.com/max/1000/1*pd9XqkTCXjNzmV3FTS85tw.jpeg", class: "w-12
            rounded-full object-cover" %>
    </div>
  </nav>
</aside>

<% if yield(:below_block).presence %>
    <%= yield (:below_block) %>
<% end %>
