<div class="space-x-4 flex justify-content-between flex-row">
  <aside class="border-r sticky top-0 shrink-0 min-h-screen h-full w-24">
    <nav class="h-screen flex flex-col">
      <div class="mx-auto flex px-5 justify-center py-7 w-full hover:bg-blue-50">
        <%= image_tag "fav.png", class: "w-12" %>
      </div>
      <div class="navigational-items h-full justify-center flex  flex-col">
        <a href="/" class="aside-menu-element">
          <%= icon "fa-solid", "house-user" %>
        </a>
        <a href="/" class="aside-menu-element">
          <%= icon "fa-regular", "bell" %>
        </a>
        <a href="/"
           class="aside-menu-element">
          <%= icon "fa-regular", "bookmark" %>
        </a>
        <hr class="w-7 self-center"/>
        <%= link_to new_post_path, class: "aside-menu-element" do %>
          <%= icon "fa-regular", "edit" %>
        <% end %>
      </div>
      <div class="mx-auto flex px-5 justify-center py-7 w-full hover:bg-blue-50 bg-slate-100">
        <%= image_tag "https://miro.medium.com/max/1000/1*pd9XqkTCXjNzmV3FTS85tw.jpeg", class: "w-12
            rounded-full object-cover" %>
      </div>

    </nav>
  </aside>

  <%= yield %>

  <div class="w-full bg-blue-100 shrink-1 h-full">
    <%= yield (:right_aside_bar) %>
  </div>

</div>