<!-- component -->
<div class="sticky bottom-0 pb-3 pr-3 w-full flex justify-end group" data-controller="togglebar">
    <div class="relative inline-block">
        <!-- Dropdown toggle button -->
        <button
          data-action='togglebar#toggleNavDrop'
          data-navbar-body-param="plus-post-menu"
          class="rounded-full h-12 w-12 mx-2 grid backdrop-blur focus:rotate-180 duration-200
        place-items-center hover:bg-slate-900/80 bg-slate-700/80 text-white block text-2xl">
          <%= icon "fa-solid", "hamburger", class: "" %>
        </button>
        <!-- Dropdown menu -->
        <div id="plus-post-menu" class="hidden duration-200 absolute
        bottom-16 right-0 z-20 overflow-hidden rounded-md pr-2 pb-1 grid gap-2">
          <%= link_to new_quick_tweet_path, class: "h-12 w-12 grid place-items-center backdrop-blur place-items-center rounded-full
          bg-blue-900/80 text-white block text-md" do %>
            <%= icon "fa-solid", "message" %>
          <% end %>

          <%= link_to new_post_path, class: "h-12 w-12 grid place-items-center backdrop-blur place-items-center rounded-full
              bg-blue-900/80 text-white block text-md" do %>
                <%= icon "fa-solid", "file-text" %>
          <% end %>
        </div>
    </div>
</div>