<div class="">
  <div class="flex w-full relative">
    <div class="flex mb-7 pt-7 w-full overflow-x-scroll no-scrollbar">
      <div class="flex-1"></div>
      <%= link_to quick_tweets_path, class: "go-to-btn #{is_active "quick_tweets", "index"}" do %>
        <%= icon 'fa-solid', 'truck' %> <span>Quick Tweets</span>
      <% end %>
      <%= link_to posts_path, class: "go-to-btn #{is_active "posts", "index"}" do %>
        <%= icon 'fa-solid', 'newspaper' %> <span>Posts</span>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to drafts_path, class: "go-to-btn #{is_active "global", "drafts"}" do %>
          <%= icon 'fa-solid', 'floppy-disk' %> <span>Drafts</span>
        <% end %>
      <% end %>
      <script>
          var tabBtn = document.querySelector('.go-to-btn.active')
          if (tabBtn) {
              tabBtn.scrollIntoView({
                  behavior: 'smooth',
                  block: 'nearest',
              })
          }
      </script>
    </div>
    <div class="absolute block sm:hidden left-0 h-full w-7 bg-gradient-to-r from-white dark:from-slate-900"></div>
    <div class="absolute block sm:hidden right-0 h-full w-7 bg-gradient-to-l from-white dark:from-slate-900"></div>
  </div>
  <hr class="dark:border-slate-700"/>
  <%= link_to path, class: "group flex space-x-2 text-center py-5 text-xl" do %>
    <div class="plus-new-button">
      <%= icon "fa-regular", "plus", class: "text-xl" %>
    </div>
    <div class="self-center">
      <%= text %>
    </div>
  <% end %>
</div>