<%= turbo_stream_from commentable, :comments %>

<%= audio_tag "notification.mp3", id: "audiosource" %>
<div class="hidden dark:text-cyan-50" id="comment-box">
  <div class="z-20 fixed bg-slate-300/50 backdrop-blur h-screen w-full top-0 right-0" data-controller="comment"></div>
  <div class="z-20 fixed h-screen w-full md:w-96 top-0 right-0">
    <div class="float-right p-7 dark:bg-cyan-900 bg-white/90 backdrop-blur shadow-xl w-full h-full flex flex-col">
      <div class="flex justify-end">
        <%= button_tag '', class: "super-rounded-btn", data: { controller: "comment" } do %>
          <%= icon 'fa-solid', 'times', class: "" %>
        <% end %>
      </div>
      <div class="flex flex-col gap-3">
        <%= turbo_frame_tag "comments_count_top", class: "text-2xl font-bold" do %>
          Comments(<%= commentable.comments.count %>)
        <% end %>
        <div class="bg-white dark:bg-black/80 w-full flex flex-col gap-2 shadow rounded-md px-3 py-2">
          <div class="flex gap-x-2">
            <%= image_tag user_signed_in? ? current_user.profile.my_avatar : "fav.png", class: "w-7 rounded-full object-cover bg-rose-50", alt: "Deviser User" %>
            <span class="my-auto font-light text-sm">
            <%= user_signed_in? ? current_user.username : "Anon" %>
          </span>
          </div>
          <%= render "comments/form", commentable: commentable %>
        </div>
      </div>
      <div class="grid gap-3 mt-5 overflow-y-scroll cute-scroll" id="<%= "#{dom_id commentable}_comments" %>">
        <%= render comments, user: current_user %>
      </div>
    </div>
  </div>
</div>