<%= turbo_frame_tag quick_tweet, comment, class: "min-w-full border group shadow rounded-md p-2" do %>
  <div class="w-full overflow-scroll cute-scroll">
    <% if quick_tweet.user %>
    <span class="text-neutral-500 block" title="<%= quick_tweet.created_at.to_fs %>">
         <strong><%= quick_tweet.user.username %></strong>
      </span>
    <% end %>
    <p>
      <%= clean_links sanitize(comment.body, tags: %w(strong em a b code), attributes: %w(href)) %>
    </p>
  </div>
  <div class="mt-3 block">
    <span class="text-neutral-500 text-sm" title="<%= comment.created_at.to_fs %>">
      <%= time_ago_in_words(comment.created_at) %>
    </span>
    <span class="float-right" data-controller="user-auth" data-user-auth-uid="<%= comment.user.id %>">
      <div class="hidden" data-user-auth-target="delete">
        <%= button_to 'Delete', [quick_tweet, comment], method: :delete,
                      class: "text-rose-300 hover:text-rose-400 hover:underline
                    md:scale-0 group-hover:scale-100 duration-100 text-sm" %>
      </div>
    </span>
  </div>
<% end %>

<%= turbo_stream.replace "comments_count_top" do %>
  <%= turbo_frame_tag "comments_count_top", class: "rounded bg-slate-300 px-3 my-auto text-sm" do %>
    <%= quick_tweet.comments.count %>
  <% end %>
<% end %>

<%= turbo_stream.replace "comments_count_bottom" do %>
  <%= turbo_frame_tag "comments_count_bottom", class: "h-3 w-3 rounded-full absolute bg-rose-700/70 backdrop-blur top-0 right-0", style: "font-size: 9px;" do %>
    <%= quick_tweet.comments.count %>
  <% end %>
<% end %>