<%= turbo_frame_tag comment, class: "" do %>
  <div class="w-full h-auto group overflow-x-scroll cute-scroll">
    <div class="w-full flex flex-col gap-2 px-3 py-2">
      <div class="flex gap-x-2">
        <%= image_tag comment.user.profile.my_avatar, class: "w-7 h-7 my-auto rounded-full object-cover bg-rose-50" %>
        <div class="flex flex-col">
          <span class="my-auto font-light text-sm">
            <%= comment.user.username %>
          </span>
          <span class="sweet-info" title="<%= comment.created_at.to_fs %>">
            <%= time_ago_in_words(comment.created_at) %>
          </span>
        </div>
      </div>
      <p>
        <%= clean_links sanitize(comment.body, tags: %w(strong em a b code), attributes: %w(href)) %>
      </p>
    </div>
    <div class="flex flex-row justify-between">
      <%= render "likes/create", likeable: comment %>
      <% if user_signed_in? and current_user == comment.user %>
        <%= button_to comment, method: :delete,
                      class: "p-2 px-4 hover:text-rose-800 text-slate-500 focus:text-sky-500 duration-400" do %>
          <%= icon "fa-solid", "trash" %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
