<%= form_for commentable.comments.new do |form| %>

  <%= form.hidden_field :commentable_id, value: params["id"] %>
  <%= form.hidden_field :commentable_type, value: commentable.model_name.name %>
  <div class="my-5">
    <%= form.text_area :body, rows: 3, class: "w-full border-0 focus:outline-0 focus:ring-0" %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>