<div class="w-full text-2xl h-fit group min-w-0 ">
  <div class="w-full flex flex-col gap-2 py-2">
    <%= link_to profile_show_path(comment.user.friendly_id), class: "flex gap-x-3" do %>
      <%= image_tag comment.user.profile.my_avatar, class: "w-12 h-12 my-auto rounded-full object-cover bg-rose-50", alt: "Deviser User" %>
      <div class="flex flex-col">
          <span class="my-auto font-light">
            <%= comment.user.username %>
          </span>
        <span class="sweet-info" title="<%= comment.created_at.to_fs %>">
            <%= time_ago_in_words(comment.created_at) %>
          </span>
      </div>
    <% end %>
    <p class="break-words">
      <%= clean_links sanitize(comment.body, tags: %w(strong em a b code), attributes: %w(href)) %>
    </p>
  </div>
  <div class="flex flex-row justify-between">
    <%= render "likes/create", likeable: comment %>
    <% if user_signed_in? and current_user == comment.user %>
      <%= button_to comment, method: :delete,
                    class: "p-2 px-4 hover:text-rose-800 text-slate-500 focus:text-sky-500 duration-400" do %>
        <%= icon "fa-solid", "trash" %>
      <% end %>
    <% end %>
  </div>
</div>