<div class="w-full text-2xl h-fit group min-w-0 ">
  <% if comment.parent.present? %>
    <blockquote
      onclick="document.getElementById('<%= comment.parent.hash_id %>').scrollIntoView({behavior: 'smooth'});"
      class="cursor-pointer text-lg px-2 py-1 rounded bg-gray-200/20 border-b-2 shadow border-black">
      Replying to:
      <%= link_to comment.parent.user.profile.get_name, profile_show_path(comment.parent.user.friendly_id),  class: "link"%>
      <p>"<%= comment.parent.body.truncate(45) %>"</p>
    </blockquote>
  <% end %>
  <div class="w-full flex flex-col gap-2 py-2">
    <%= link_to profile_show_path(comment.user.friendly_id), class: "flex gap-x-3" do %>
      <%= image_tag comment.user.profile.my_avatar, class: "w-12 h-12 my-auto rounded-full object-cover bg-rose-50", alt: "Deviser User" %>
      <div class="flex flex-col">
          <span class="my-auto font-light">
            <%= comment.user.username %>
          </span>
        <span class="sweet-info" title="<%= comment.created_at.to_fs %>">
            <%= time_ago_in_words(comment.created_at) %>
          </span>
      </div>
    <% end %>
    <p class="break-words">
      <%= clean_links sanitize(comment.body, tags: %w(strong em a b code), attributes: %w(href)) %>
    </p>
  </div>
  <div class="flex flex-row justify-between">
    <%= render "likes/create", likeable: comment %>

    <div id="<%= "reply_btn_#{comment.id}" %>">
      <%= button_to 'Reply', comments_form_path(comment.id) %>
    </div>
  </div>

  <%= turbo_frame_tag "comment_form_#{comment.id}" %>
</div>

<% if user_signed_in? %>
  <%= turbo_frame_tag "comment_parent_#{comment.id}", class: "flex flex-col ml-3 space-y-2" do %>
    <%= render partial: "comments/comment", collection: comment.comments.where(user: current_user), as: :comment %>
  <% end %>
<% end %>
