<%= content_tag :div, data: {
  controller: "tiptap",
  tiptap_placeholder: defined?(placeholder) ? placeholder : "Write your story..."},
  class: "editor" do %>
  <%= content_tag :div, class: "editor-controls sticky top-0 z-20" do %>
    <button type="button" data-action="click->tiptap#boldText"
          data-tiptap-target="bold"
          class="group edit-btn font-extralight hover:font-extrabold hover:scale-110">
      <%= icon "fa-solid", "b", class: 'group-hover:scale-125' %>
    </button>

    <button type="button" data-action="click->tiptap#italicText"
          data-tiptap-target="italic"
          class="group edit-btn">
      <%= icon "fa-solid", "i", class: 'group-hover:rotate-45 group-focus:rotate-0' %>
    </button>

    <button type="button" data-action="click->tiptap#setHeading"
          data-heading-level="1" class="edit-btn">H 1</button>

    <div class="relative inline-block">
      <button type="button" class="editor-button-strech" data-controller="togglebar"
              data-action="togglebar#toggleNavDrop" data-togglebar-body-param="heading"
              data-tiptap-target="headingmarker">
        <span class="mx-2">Heading</span>
        <%= icon "fa", "chevron-down", class: "text-sm w-5 mr-1" %>
      </button>

      <div id="heading" data-tiptap-target="heading" class="hidden flex flex-col md:flex-row header-select">
        <% (1..6).each do |level| %>
          <%= render "components/editor/heading_controller", level: level %>
        <% end %>
      </div>
    </div>

    <button type="button"
            data-controller="togglebar"
            data-action="togglebar#toggleNavDrop"
            data-togglebar-body-param="image-inserter"
            class="group edit-btn">
      <%= icon "fa-solid", "image", class: 'group-hover:scale-110' %>
    </button>

  <% end %>

  <%= form.hidden_field field, data: { tiptap_target: "textbox" }, is_draft: form.object.draft %>
  <%= content_tag :div, '', data: { tiptap_target: "content" }, class: '' do %>
    <textarea class="ProseMirror"></textarea>
  <% end %>

  <%= content_tag :div, class: "editor-controls rounded p-2 sticky bottom-2" do %>
    <button type="button" data-action="click->tiptap#codeText" data-tiptap-target="code" class="group edit-btn">
      <%= icon "fa-solid", "code", class: 'group-hover:rotate-45 group-focus:rotate-0' %>
    </button>
    <button type="button" data-action="click->tiptap#codeBlockText"
            data-tiptap-target="codeBlock" class="group editor-button-strech px-2">
      [ <%= icon "fa-solid", "code", class: 'group-hover:text-slate-600 group-focus:text-green-300 group-focus:scale-110' %> ]
    </button>
    <%= form.submit class: "editor-button-strech float-right px-2" %>
  <% end %>
<% end %>

<div id="image-inserter" class="hidden z-30 left-0 m-0 fixed top-0 w-full h-screen bg-red-100/70 backdrop-blur">
  
</div>