
<%= turbo_frame_tag "#{likeable.model_name.name}-#{likeable.id}" do %>
  <% like = current_user.likes.find_by(likeable: likeable) %>
  <% if like.nil? %>
    <%= button_to likes_path,
                  params: {
                    like: {
                      likeable_id: likeable.id,
                      likeable_type: likeable.model_name.name
                    }
                  },
                  class: "p-2 px-4 hover:text-rose-800 text-rose-500 focus:text-sky-500 duration-400" do %>
      <span>
        <%= icon "fa-solid", "heart" %>
          <%= likeable.likes.count %>
      </span>
    <% end %>
  <% else %>
    <%= button_to like_path(like),
                  method: :delete,
                  class: "p-2 px-4 hover:text-blue-800 text-blue-500 focus:text-rose-500 duration-400" do %>
      <span>
        <%= icon "fa-solid", "heart" %>
        <%= likeable.likes.count %>
      </span>
    <% end %>
  <% end %>
<% end %>