<% if user_signed_in? %>
  <%= turbo_frame_tag "#{likeable.model_name.name}-#{likeable.id}",
                      class: "box w-14" do %>
    <% like = current_user.likes.find_by(likeable: likeable) %>
    <% if like.nil? %>
      <%= button_to likes_path, "aria-label": "Like",
                    params: {
                      like: {
                        likeable_id: likeable.id,
                        likeable_type: likeable.model_name.name
                      }
                    },
                    class: "hover:text-rose-800 text-rose-500 focus:text-sky-200
                     dark:hover:text-rose-300 dark:text-rose-200 dark:focus:text-sky-500
                    duration-400" do %>
        <span>
          <%= icon "fa-regular", "heart" %>
          <%= likeable.likes.count %>
        </span>
      <% end %>
    <% else %>
      <%= button_to like_path(like), "aria-label": "Like",
                    method: :delete,
                    class: "hover:text-blue-800 text-blue-500 focus:text-rose-500
                    dark:hover:text-blue-200 dark:text-blue-100 dark:focus:text-rose-300
                    duration-400" do %>
        <span>
        <%= icon "fa-solid", "heart" %>
          <%= likeable.likes.count %>
      </span>
      <% end %>
    <% end %>
  <% end %>

<% else %>
  <div class="py-2 px-4">
    <%= button_tag "",  "aria-label": "Like",
                   class: "hover:text-blue-800 text-blue-500 focus:text-yellow-500 duration-400" do %>
      <span>
          <%= icon "fa-solid", "heart" %>
        <%= likeable.likes.count %>
        </span>
    <% end %>
  </div>
<% end %>