<div class="bg-authentication">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'max-w-lg px-5 w-full rounded space-y-5' }) do |f| %>
    <h2 class="auth-heading">Forgot your password?</h2>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="input-father">
      <%= f.label :email, class: "input-label" %>
      <%= f.email_field :email, class: "input-box", autofocus: true, autocomplete: "email", placeholder: "youremail@gmail.com" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "auth-btn" %>
      <%= link_to "Log in", new_session_path(resource_name), class: "auth-co-btn" %>
    </div>
    <%= link_to root_path, class: "home-btn" do %>
      <%= icon 'fa-solid', 'chevron-left', class: "text-sm mr-1" %>
      Go Home
    <% end %>
  <% end %>

</div>
