<%= form_with(model: quick_tweet, class: "is-wflt", id: "#{dom_id(quick_tweet)}_form", html: {"data-controller": "wflt"}) do |form| %>
  <%= render "components/errors", error_el: quick_tweet %>
  <div class="editor-box">
    <%= form.text_area :content, "data-wflt-target": "textArea" %>
    <div contenteditable="true" class="writing-section" style="height: 80px;" data-wflt-target="contentSection"></div>
    <%= content_tag :div, class: "flex flex-row p-2 gap-2" do %>
      <button type="button" data-wflt-target="bold" class="group edit-btn font-extralight hover:font-extrabold hover:scale-110">
       <span class="group-hover:scale-125">B</span>
      </button>
      <%= button_to "", type: "button", "data-wflt-target": "italic", class: "edit-btn group" do %>
        <%= icon "fa-solid", "i", class:'rotate-3 group-hover:rotate-12' %>
      <% end %>
      <%= form.submit class: "edit-btn" %>
    <% end %>

  </div>
<% end %>
