<%= turbo_stream_from quick_tweet %>
<div class="break-inside-avoid" id="<%= dom_id quick_tweet %>">
  <%= link_to quick_tweet do %>
    <div class="px-6 py-10">
      <span class="text-neutral-500 block mb-2" title="Author: <%= quick_tweet.user.username %>">
          Posted by <strong><%= quick_tweet.user.username %></strong>
         <span class="posts-tag bg-blue-100">
           Quick Tweet <%= icon "fa-solid", "truck-fast", class: "text-sm" %>
          </span>
      </span>
      <div>
        <h3 class="font-bold text-slate-700 text-2xl mb-2">
          <%= sanitize(quick_tweet.content, tags: %w()).truncate(39) %>
        </h3>
        <span class="text-gray-700 text-2xl text-base">
        <%= sanitize(quick_tweet.content, tags: %w()).strip.truncate(399) %>
      </span>
      </div>
      <div class="mt-3">
        <div class="block mb-2 space-x-2">
          <span class="bg-neutral-100 px-2 py-1 rounded-lg text-neutral-700" title="<%= quick_tweet.created_at.to_fs %>">
            <%= icon "fa-regular", "eye", class: "mr-2" %>
            <%= quick_tweet.watches %> Views
          </span>
          <span class="" title="<%= quick_tweet.created_at.to_fs %>">
            <%= time_ago_in_words(quick_tweet.created_at) %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>