<div id="<%= dom_id quick_tweet %>_target" class="px-6 py-4 mt-3">
  <div class="font-bold text-3xl mb-2x"><%= quick_tweet.content.truncate(38) %></div>
  <div class="ml-2 mb-6">
          <span class="text-neutral-500" title="<%= quick_tweet.created_at.to_fs %>">
          <%= time_ago_in_words(quick_tweet.created_at) %>
          </span>
    <span class="text-neutral-500 float-right" title="<%= quick_tweet.created_at.to_fs %>">
              <%= quick_tweet.watches %> Views
          </span>
  </div>
  <span class="text-gray-700 text-2xl text-base mt-5">
        <%= simple_format quick_tweet.content %>
      </span>
</div>