<%= content_for(:title, "Quick Tweets ~ Deviser Club") %>

<%= render "components/aside_bar" do %>
  <main id="all_quick_tweets" class="h-auto min-h-screen min-w-0 block smart-padding pt-20">
    <%= render "components/tab_menus", path: new_quick_tweet_path, text: "Add a new quick tweet" %>

    <div id="quick_tweets" class="w-full divide-y dark:divide-slate-700">
      <%= render @quick_tweets %>
    </div>
  </main>
  <%= content_for :right_aside_bar do %>
    <%= render "components/latest_posts_and_comment" %>
  <% end %>
<% end %>


