<%= content_for(:title, "Quick Tweets ~ Deviser Club") %>

<%= render "components/aside_bar/aside_bar" do %>
  <main id="all_quick_tweets" class="posts-father">
    <%= render "components/tab_menus", path: new_quick_tweet_path, text: "Add a new quick tweet" %>

    <div id="quick_tweets" class="posts-seperator">
      <%= turbo_stream_from :quick_tweets %>
      <%= render @quick_tweets %>
    </div>
    <div class="flex justify-center mb-12">
      <%#== pagy_next_link(@pagy, text: 'Load More', link_extra: 'id="next_link" class="view-btn"') %>
      <div id="load-more-btn" class="w-full">
        <%= button_to "Load More", pagy_url_for(@pagy, @pagy.next), class:"view-btn w-full dark:hover:bg-black/50" %>
      </div>
    </div>
  </main>


  <%= content_for :right_aside_bar do %>
    <%= render "components/latest_posts_and_comment" %>
  <% end %>
<% end %>