<%= content_for(:title, "Quick Tweets ~ Deviser Club") %>

<%= render "components/aside_bar" do %>
  <main id="all_quick_tweets" class="h-auto min-w-0 block text-sm smart-padding pt-28 divide-y">
    <%= link_to new_quick_tweet_path, class: "group flex space-x-2 text-center mb-7 text-xl" do %>
      <div class="group-hover:rotate-180 duration-200 group-hover:bg-stone-200 rounded-full bg-stone-100 w-9 h-9 grid place-items-center">
        <%= icon "fa-regular", "plus", class: "text-xl" %>
      </div>
      <div class="self-center">
        Add a new <u>tweet</u> post
      </div>
    <% end %>
    <div id="quick_tweets" class="w-full">
      <%= render @quick_tweets %>
    </div>
  </main>
  <%= content_for :right_aside_bar do %>
    <%= render "components/latest_posts_and_comment" %>
  <% end %>
<% end %>


