<%= content_for(:title, "#{@quick_tweet.title} - Deviser Club") %>

<%= content_for :meta do %>
  <% render "quick_tweets/meta" %>
<% end %>

<%= render "components/aside_bar/aside_bar" do %>
  <div class="mt-20 min-h-screen">
    <%= turbo_stream_from @quick_tweet, class: "hidden" %>
    <%= render "tweet_cert", quick_tweet: @quick_tweet %>
  </div>

  <%= content_for :down_bar_up_kit do %>
    <div class="post-reaction-box">
      <%= render "likes/create", likeable: @quick_tweet %>
      <%= render "bookmark/create", bookmarkable: @quick_tweet %>
      <%= button_tag '', class: "box", data: { controller: "comment" },
             "aria-label": "Comments" do %>
        <%= icon 'fa-regular', 'comment' %>
        <%= render "comments/comments_count", count: @comments.count %>
      <% end %>
      <% if current_user == @quick_tweet.user %>
        <%= link_to edit_quick_tweet_path, "aria-label": "Edit Post", class: "box" do %>
          <%= icon "fa-regular", "edit", class: "dark:text-white" %>
        <% end %>
        <%= render "components/delete_btn", delete_path: quick_tweet_path %>
      <% end %>
    </div>
  <% end %>

  <%= content_for :below_block do %>
    <%= render "comments/box", { commentable: @quick_tweet, comments: @comments } %>
  <% end %>
<% end %>