<%= content_for(:title, "#{@quick_tweet.title} - Deviser Club") %>

<%= content_for :meta do %>
  <% render "quick_tweets/meta" %>
<% end %>

<%= render "components/aside_bar" do %>
  <div class="page-posting-section grid place-items-center">
    <div>
      <%= turbo_stream_from @quick_tweet, class: "hidden" %>
      <%= render "tweet_cert", quick_tweet: @quick_tweet %>
    </div>
  </div>

  <%= content_for :down_bar_up_kit do %>
    <div class="post-reaction-box">
      <%= render "likes/create", likeable: @quick_tweet %>
      <%= render "bookmark/create", bookmarkable: @quick_tweet %>
      <%= link_to '', class: "box", data: { controller: "comment" } do %>
        <% if @comments.present? %>
          <%= turbo_frame_tag "comments_count_bottom", class: "h-3 w-3 rounded-full absolute bg-rose-700/70 backdrop-blur top-0 right-0", style: "font-size: 9px;" do %>
            <%= @comments.count %>
          <% end %>
        <% end %>
        <%= icon 'fa-regular', 'comment', class: "dark:text-white" %>
      <% end %>
      <% if current_user == @quick_tweet.user %>
        <%= link_to edit_quick_tweet_path, class: "box" do %>
          <%= icon "fa-regular", "edit", class: "dark:text-white" %>
        <% end %>
        <%= button_to @quick_tweet, method: :delete, class: "box" do %>
          <%= icon "fa-solid", "trash", class: "dark:text-white" %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= content_for :below_block do %>
    <%= render "comments/box", { commentable: @quick_tweet, comments: @comments } %>
  <% end %>
<% end %>