<div class="notification
      flex flex-col gap-2 rounded border p-3">
  <div class="flex">
    <div class="w-10 h-10">
      <%= image_tag comment.user.profile.my_avatar, class: "w-full h-full self-center rounded-full object-cover",
                    alt: "#{comment.user.username} - #{comment.user.profile.name}: Deviser" %>
    </div>
    <div class="my-auto">
      <%= link_to comment.user.profile.get_name, profile_show_path(comment.user.profile),  class: "font-bold" %>
      commented on
      "<%= link_to comment.commentable.title, comment.commentable, class: "link" %>"
      <%# , by<strong><%= comment.commentable.user.username ></strong> #%>
    </div>
  </div>
  <div class="rounded p-3 border">
    <p>
      <%= clean_links sanitize(comment.body, tags: %w(strong em a b code), attributes: %w(href)) %>
    </p>
  </div>
</div>