<div class="flex justify-between px-10 md:px-32 py-7 w-full">
  <div class="flex items-stretch space-x-2 flex justify-center">
    <%= link_to root_path do %>
      <%= image_tag current_user.profile.my_avatar, class: "w-7 rounded-full bg-purple-50 hover:bg-purple-100" %>
    <% end %>
    <span class="my-auto">Posting something new</span>
    <span class="my-auto mx-4 text-sm font-light text-slate-500">Saved!</span>
  </div>
  <div class="space-x-1">
    <button class="text-slate-500 px-2 py-0 rounded-xl inline-block">
      <%= current_user.username %>
    </button>
    <%= image_tag "fav.png", class: "w-9 rounded-full bg-sky-100 inline-block" %>
  </div>
</div>
<div class="grid place-items-center md:px-48">
  <%= form_with(model: @post, class: "w-full") do |form| %>
    <div class="my-5">
      <%= form.text_field :title,
                          placeholder: 'Story Title',
                          class: "block text-4xl focus:border-l focus:border-slate-700 font-light py-2 border-0 bg-white/10 backdrop-blur focus:outline-none focus:ring-0 h-12 px-3 py-2 mt-2 w-full" %>
    </div>
    <%= render "components/editor/edit", field: :body, form: form %>
  <% end %>
</div>
<style>
    .ProseMirror {
        height: 75vh;
        overflow: scroll;
        max-height: 60vh;
    }
</style>