<%= content_for(:title, "Posts ~ Deviser Club") %>

<%= render "components/aside_bar" do %>
  <main id="all_posts" class="h-auto min-h-screen min-w-0 block smart-padding pt-20">
    <%= render "components/tab_menus", path: new_post_path, text: "Add a new article post" %>
    <div id="posts" class="w-full divide-y dark:divide-slate-700">
      <%= render @posts %>
    </div>
  </main>
  <%= content_for :right_aside_bar do %>
    <%= render "components/latest_posts_and_comment" %>
  <% end %>
<% end %>


