<%= content_for(:title, "Posts ~ Deviser Club") %>

<%= render "components/aside_bar/aside_bar" do %>
  <main id="all_posts" class="posts-father">
    <%= render "components/tab_menus", path: new_post_path, text: "Add a new article post" %>
    <div id="posts" class="posts-seperator">
      <%= render @posts %>
    </div>
    <div class="flex justify-center mb-12">
      <div id="load-more-btn" class="w-full">
        <%= button_to "Load More", pagy_url_for(@pagy, @pagy.next), class:"view-btn w-full dark:hover:bg-black/50" %>
      </div>
    </div>
  </main>
  <%= content_for :right_aside_bar do %>
    <%= render "components/latest_posts_and_comment" %>
  <% end %>
<% end %>


