<%= content_for(:title, "Posts ~ Deviser Club") %>

<%= render "components/aside_bar" do %>
  <main id="all_posts" class="h-auto min-w-0 block text-sm smart-padding pt-28 divide-y">
    <%= link_to new_post_path, class: "group flex space-x-2 text-center mb-7 text-xl" do %>
      <div class="plus-new-button">
        <%= icon "fa-regular", "plus", class: "text-xl" %>
      </div>
      <div class="self-center">
        Add a new article post
      </div>
    <% end %>
    <div id="posts" class="w-full">
      <%= render @posts %>
    </div>
  </main>
  <%= content_for :right_aside_bar do %>
    <%= render "components/latest_posts_and_comment" %>
  <% end %>
<% end %>


