<%= render "components/aside_bar" do %>
  <div id="<%= dom_id @post %>" class="w-full py-16">
    <%= render "posts/post-profile" %>
    <div class="min-h-screen">
      <div class="content-box page-posting-section">
        <h1><%= @post.title %></h1>
        <%= @post.body.html_safe %>
      </div>
    </div>
  </div>
<% end %>