<div id="<%= dom_id @post %>">
  <div class="px-5 py-5 font-bold h-72 grid bg-blue-50 place-items-center text-neutral-700">
    <div class="text-center">
      <div class="text-cyan-500" title="<%= @post.created_at.to_fs %>">

      </div>
      <div class="text-cyan-500" title="<%= @post.created_at.to_fs %>">
        Posted by <strong><%= @post.user.username %></strong> • <span class="text-cyan-600"><%= time_ago_in_words(@post.created_at) %></span>
      </div>
      <h1 class="text-4xl"><%= @post.title %></h1>
      <div class="ml-2 mb-6">

      </div>
    </div>
  </div>
  <div class="min-h-screen">
    <div class="content-box col-span-2 py-16 md:px-48">
      <%= @post.body.html_safe %>
    </div>
  </div>
  <div class="place-items-center grid sticky bottom-3">
    <div class="h-50 p-0 space-x-2 flex text-right w-fit">
      <%= button_to @post, method: :delete,
                    class: "rounded-button hover:text-rose-100 hover:bg-rose-800" do %>
        <%= icon "fa-solid", "trash" %>
      <% end %>
      <%= link_to edit_post_path,
                  class: "rounded-button hover:text-cyan-100 hover:bg-cyan-800" do %>
        <%= icon "fa-solid", "edit" %>
      <% end %>
    </div>
  </div>
</div>
