<%= render "components/aside_bar" do %>
  <div id="<%= dom_id @post %>" class="w-full py-7 md:py-10">
    <%= render "posts/post-profile" %>
    <div class="min-h-screen">
      <div class="content-box page-posting-section md:py-7 py-0">
        <h1><%= @post.title %></h1>
        <%= @post.body.html_safe %>
      </div>
    </div>
  </div>

  <%= content_for :down_bar_up_kit do %>
    <div class="post-reaction-box divide-x divide-blue-200 flex" >
      <% if current_user.nil? %>
        <%= content_tag :div, class: "hover:text-rose-800 text-rose-500 focus:text-sky-500 duration-400 box" do %>
          <span>
            <%= icon "fa-solid", "heart" %>
            <%= @post.likes.count %>
          </span>
        <% end %>
      <% else %>
        <%= render "likes/create", post: @post, like: current_user.likes.find_by(post: @post) %>
      <% end %>
      <%= link_to edit_post_path, class: "box" do %>
        <%= icon "fa-regular", "comment" %>
      <% end %>


      <% if current_user == @post.user %>
        <%= link_to edit_post_path, class: "box" do %>
          <%= icon "fa-regular", "edit" %>
        <% end %>
        <%= link_to edit_post_path, class: "box" do %>
          <%= icon "fa-solid", "trash" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= content_for :right_aside_bar do %>
    <div class="px-6 py-4">
      Comment Will Be here
    </div>
  <% end %>
<% end %>

