<%= content_for(:title, "Deviser Club ~ A club for anon discussion ~ Rails App") %>

<%= render "components/aside_bar" do %>
  <main id="all_posts" class="h-auto min-w-0 block text-sm md:px-32 pt-28 divide-y">
    <%= link_to new_quick_tweet_path, class:"group flex space-x-2 text-center mb-7 text-xl" do %>
      <div class="group-hover:rotate-180 duration-200 group-hover:bg-stone-200 rounded-full bg-stone-100 w-9 h-9 grid place-items-center">
            <%= icon "fa-regular", "plus", class: "text-xl" %>
      </div>
      <div class="self-center">
        Add a new quick tweet
      </div>
    <% end %>
    <%= render @all_posts %>
  </main>
  <%= content_for :right_aside_bar do %>
      Hey
  <% end %>
<% end %>

<%#= render "components/nav_add_posts" %>

<footer
  class="flex bg-white/80 dark:bg-black/80 dark:text-indigo-100
                h-24 w-full items-center justify-center border-t dark:border-gray-900">
  <a
    class="flex items-center justify-center gap-2"
    href="https://webmatrices.com/"
    target="_blank"
    rel="noopener noreferrer"
  >
    Powered by
    <span class="text-2xl font-bold">Webmatrices</span>
  </a>
</footer>