<div class="flex flex-col space-y-5 p-4 lg:p-10">
  <div class="space-y-2">
    <div class="rounded-full p-2 bg-gradient-to-b from-blue-300 to-indigo-400 w-24 h-24">
      <%= image_tag profile.my_avatar,
          class: "h-full w-full rounded-full shadow object-cover",
          alt: "Article by  #{profile.user.username} | #{profile.name}"%>
    </div>
    <h2 class="text-xl text-neutral-700 font-bold dark:text-neutral-50">
      <%= profile.get_name %>
    </h2>
    <p class="sweet-info">
      <%= profile.description %>
    </p>
    <% if yield(:extra_content).presence %>
      <%= yield(:extra_content) %>
    <% else %>
      <p class="sweet-info md:hidden">
        <%= profile.bio %>
      </p>
    <% end %>
  </div>
  <div class="space-y-2">
    <div class="small-badge">
      <%= "#{profile.user.posts.count} #{'post'.pluralize profile.user.posts.count}" %>
    </div>
    <div class="small-badge">
      <%= likes_count = Like.where(likeable: profile.user.posts).count + Like.where(likeable: profile.user.quick_tweets).count %>
      <%= "#{'like'.pluralize likes_count}" %>
    </div>
    <div class="small-badge">
      <%= bookmarked_count = Bookmark.where(bookmarkable: profile.user.posts).count + Bookmark.where(bookmarkable: profile.user.quick_tweets).count %>
      <%= "#{'bookmarked content'.pluralize bookmarked_count}" %>
    </div>
    <div class="small-badge">
      <%= tweets_count = profile.user.quick_tweets.count %>
      <%= "#{'tweet'.pluralize tweets_count}" %>
    </div>
  </div>
</div>