<div class="flex flex-col space-y-5 p-4 lg:p-10">
  <div class="space-y-2">
    <div class="rounded-full p-2 bg-gradient-to-b from-blue-300 to-indigo-400 w-24 h-24">
      <%= image_tag profile.my_avatar, class: "h-full w-full rounded-full shadow object-cover" %>
    </div>
    <h2 class="text-xl text-neutral-700 font-bold">
      <%= profile.get_name %>
    </h2>
    <p class="text-md text-neutral-700">
      <%= profile.description %>
    </p>
    <% if yield(:extra_content).presence %>
      <%= yield(:extra_content) %>
    <% else %>
      <p class="text-md md:hidden text-neutral-700">
        <%= profile.bio %>
      </p>
    <% end %>
  </div>
  <div class="space-y-2">
    <div class="inline-block mx-2 px-2 bg-slate-100 rounded-md p-1">
      <%= "#{profile.user.posts.count} #{'post'.pluralize profile.user.posts.count}" %>
    </div>
    <div class="inline-block mx-2 px-2 bg-slate-100 rounded-md p-1">
      <%= likes_count = Like.where(likeable: profile.user.posts).count + Like.where(likeable: profile.user.quick_tweets).count %>
      <%= "#{'like'.pluralize likes_count}" %>
    </div>
    <div class="inline-block mx-2 px-2 bg-slate-100 rounded-md p-1">
      <%= bookmarked_count = Bookmark.where(bookmarkable: profile.user.posts).count %>
      <%= "#{'bookmarked content'.pluralize bookmarked_count}" %>
    </div>
    <div class="inline-block mx-2 px-2 bg-slate-100 rounded-md p-1">
      <%= tweets_count = profile.user.bookmarks.count %>
      <%= "#{'tweet'.pluralize tweets_count}" %>
    </div>
  </div>
</div>