<%= content_for(:title, "Profile #{@profile.user.username} - Deviser") %>

<%= render "components/aside_bar/aside_bar" do %>
  <main class="profile-box">
    <div class="hidden lg:block">
      <div class="content-box">
        <h1 class=""><%= @profile.get_name %></h1>
      </div>
      <h3 class="font-light text-lg px-1 border-b">
        <%= @profile.bio %>
      </h3>
    </div>
    <div class="lg:hidden">
      <%= render "profile/profile", profile: @profile %>
    </div>
    <div id="posts" class="w-full">
      <%= render @profile.user.posts+@profile.user.quick_tweets %>
    </div>
  </main>
  <%= content_for :right_aside_bar do %>
    <%= render "profile/profile", profile: @profile %>
  <% end %>
<% end %>
