<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="github.com/Bishwas-py/deviser-club">
    <meta name="license" content="This webapp is built using github.com/Bishwas-py/deviser-club. Deviser.Club is it's main product!">
    <title><%= yield(:title) %></title>

    <%= yield (:content_up) %>

    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="1024"/>
    <meta property="og:image:height" content="512"/>
    <meta name="msapplication-config" content="/browserconfig.xml" />

    <% if yield(:meta).presence %>
      <%= yield(:meta) %>
    <% else %>
      <meta property="og:image" content="<%= image_url "deviser.club.png" %>"/>
      <meta property="og:image:secure_url" content="<%= image_url "deviser.club.png" %>"/>
      <meta property="og:image:alt" content="blogger alternative, medium alternative, dev to alternative, creative blogging platform for creative writers, bloggers and developers"/>
      <meta name="description"
            content="A creative blogging platform for creative writers, bloggers and developers. Open Source blogging platform with instant articles and blogging features."/>
      <meta property="article:tag" content="creative writing platform, medium alternative, blogging platform, anynomous posting"/>
    <% end %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "#{request.base_url}/fav.png", rel: 'shortcut icon' %>
    <%= favicon_link_tag "#{request.base_url}/fav.png", rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag "#{request.base_url}/fav.png", rel: 'mask-icon', type: 'image/png' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "dm-sans", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= render "components/script_tags" %>

    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="main-body">
    <main class="h-full w-full">
      <% unless params[:controller].include? 'devise/' %>
        <%=   render "components/errors"   %>
        <%= render "components/notice" %>
      <% end %>
      <%= yield %>
    </main>
  </body>
  <%= yield (:content_down) %>
</html>
