<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title) %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "fav.png" %>
    <%= render "components/meta" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "dm-sans", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <main class="h-full w-full">
      <% unless params[:controller].include? 'devise/' %>
        <%=   render "components/errors"   %>
        <%= render "components/notice" %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
